<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Matakuliah</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>
<body>
<div class="container-fluid">




<table id="t01" class= "table table-white">
<thead>
<th>No</th>
<th>Kode</th>
<th>Matakuliah</th>
<th>SKS </th>
<th>Semester </th>
</thead>


<tr *ngFor="let item of dataContent; let no=index">
<td> {{no+1}} </td>
<td> {{item.kode}} </td>
<td> {{item.matakuliah}} </td>
<td> {{item.sks}} </td>
<td> {{item.semester}} </td>
</tr>

<tr>
<td> 1 </td>
<td> 1645131 </td>
<td> Basis Data Lanjut </td>
<td> 3 </td>
<td> III </td>
</tr>

<tr>
<td> 2 </td>
<td> 1645133 </td>
<td> Teknologi Web Lanjut </td>
<td> 3 </td>
<td> III </td>
</tr>

<tr>
<td> 3 </td>
<td> 1645121 </td>
<td> Sistem Operasi </td>
<td> 3 </td>
<td> IV </td>
</tr>



</table>

</div>
