<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Data Mahasiswa</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>
<body>
<div class="container-fluid">




<table id="t01" class= "table table-white">
<thead>
<th>No</th>
<th>Nim</th>
<th>Nama</th>
<th>Fakultas </th>
<th>Jurusan </th>
</thead>


<tr *ngFor="let item of dataContent; let no=index">
<td> {{no+1}} </td>
<td> {{item.nim}} </td>
<td> {{item.name}} </td>
<td> {{item.fakultas}} </td>
<td> {{item.jurusan}} </td>
</tr>

<tr>
<td> 1 </td>
<td> 1700016091 </td>
<td> Sekarnur Hidayah </td>
<td> FAST </td>
<td> Sistem Informasi </td>
</tr>

<tr>
<td> 2 </td>
<td> 1600016092 </td>
<td> Cintia Kus Herawati </td>
<td> FKIP </td>
<td> Pendidikan Matematika </td>
</tr>

<tr>
<td> 3 </td>
<td> 1800016093 </td>
<td> Rizin Kartika </td>
<td> FAST </td>
<td> Biologi </td>
</tr>

</table>

</div>
