
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="delmhs-tab" data-toggle="tab" href="#Data-Mahasiswa" role="tab" aria-controls="Delete Mahasiswa" aria-selected="true">Data Mahasiswa</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" id="deldos-tab" data-toggle="tab" href="#Data-Dosen" role="tab" aria-controls="Delete Dosen" aria-selected="false">Data Dosen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="delmat-tab" data-toggle="tab" href="#Data-Matakuliah" role="tab" aria-controls="Delete Matakuliah" aria-selected="false">Data Matakuliah</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="krs-tab" data-toggle="tab" href="#krs" role="tab" aria-controls="KRS" aria-selected="false">KRS</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="jaddos-tab" data-toggle="tab" href="#jadwal-dosen" role="tab" aria-controls="Jadwal Dosen" aria-selected="false">Jadwal Dosen</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" id="logout-tab" data-toggle="tab" href="#logout" role="tab" aria-controls="Logout" aria-selected="false">Logout</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="delmhs-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="deldos-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="delmat-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="krs-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="jaddos-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="logout-tab">...</div>
  
</div>