<html>
<div class="container-fluid">
<h3>
  HOME PAGE
</h3>

<table class= "table table-dark">

<thead>
<th>No</th>
<th>Nama</th>
<th>Alamat </th>
</thead>

<tr *ngFor="let item of dataContent; let no=index">
<td> {{no+1}} </td>
<td> {{item.name}} </td>
<td> {{item.alamat}} </td>
</tr>

<tr>
<td> Nama end </td>
<td> Alamat end </td>
<td> Haloooooooo </td>
</tr>

</table>

</div>
</html>