
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MENU ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      
	   <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" routerLink="/data" routerLinkActive="active">Data Mahasiswa</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/dosen" routerLinkActive="active">Data Dosen</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/matakuliah" routerLinkActive="active">Matakuliah</a>
      </li> 
     
    </ul>
	
  
  
</div>
</nav>
  




<router-outlet></router-outlet>


